{% extends 'base.html' %}
{% load static %}

{% block content %}

{% csrf_token %}

    {% for post in posts %}

        <div class="card shadow bg-white">
            <div class="card-body">
                <h1 class="card-title"> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p class="card-text"> {{ post.body_summary|striptags }} </p>
                <div> {{ post.created_date }}</div>
            </div>
        </div>

    {% endfor %}

{% endblock %}