{% extends 'base.html' %}
{% load static %}

{% block content %}

{% csrf_token %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #e3e7eb;
    }
</style>


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white">
                        {{generic_config.welcome_phrase}}
                    </h3>
                    <p class="text-light">{{generic_config.short_description}}</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
                {% if post.status == True %}
                    <div class="card shadow bg-white">
                        <div class="card-body">
                            <h1 class="card-title"> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            <p class="card-text"> {{ post.body_summary|striptags }} </p>
                            <div> {{ post.author}} | {{ post.created_date }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>


{% endblock %}