{% extends 'base.html' %}
{% load static %}

{% block content %}

{% csrf_token %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1>{% block title %} {{ post_detail.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ post_detail.author }} | {{ post_detail.created_date }}</p>
                <p class="card-text" id="post"> {{ post_detail.formatted_markdown|safe }} </p>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock %}